 {% load crispy_forms_tags %}

<form
       hx-post="{% url 'add_box' %}"
       hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'
       class="container mt-3 pt-3">


     <div class="row gx-3 gy-2 align-items-center">
         <div class="col-sm-3">
            {{  accountForm.name|as_crispy_field }}
         </div>
       <div class="col-sm-3 mt-4">
        <button type="submit" class="btn btn-primary">Add</button>
       </div>

          <div class="invalid-feedback">{{ accountForm.name.errors|first }}</div>

     </div>
</form>
