{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Employee {% endblock %}

{% block stylesheets %}

{% endblock stylesheets %}
{% block content %}


<a href="{% url 'CityCreate' %}" class="btn btn-primary">ADD</a>
 <div class="table-container my-2 mx-auto"  id="example1_wrapper">
        <div class="t-header"> Cities</div>
           <div class="table-responsive">
            <table id="table1" class="table custom-table ">

            <thead>
          <tr   >

            <th>No</th>
            <th>city</th>
            <th>city_ascii</th>
            <th>country</th>
            <th>iso2</th>
            <th>iso3</th>


          </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
        <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ object.city }}</td>
        <td>{{ object.city_ascii }}</td>
        <td>{{ object.country }}</td>
        <td>{{ object.iso2 }}</td>
        <td>{{ object.iso3 }}</td>

         {% empty %}
            <td>No objects yet.</td>
         </tr>
         {% endfor %}


         </tbody>
      </table>
    </div>
    </div>


{% endblock %}
{% block javascripts %}
{% endblock javascripts %}