{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Passport List{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'vendor/wizard/jquery.steps.css' %}" />

<style type="text/css">
    .img-wrap {
    position: relative;

}
.img-wrap .close {
    position: absolute;
    top: 2px;
    /*right: 2px;*/
    z-index: 100;

}
</style>
{% endblock stylesheets %}
{% block content %}
<div class="container">
    <H3>Passports list</H3>
    <div class="container">
        {% include 'passport/passport_form.html' %}
    </div>
    <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-container my-2 mx-auto" id="example1_wrapper">
                        <div class="t-header"> Passport</div>
                        <div class="table-responsive">
                            <table id="table1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>first_name</th>
                                        <th>last_name</th>
                                        <th>father_name</th>
                                        <th>mother_name</th>
                                        <th>birth</th>
                                        <th>passport</th>
                                        <th>issue_date</th>
                                        <th>nationality</th>
                                        <th>gender</th>
                                        <th>phone</th>
                                        <th style="padding-right: 0px;">action</th>
                                    </tr>
                                </thead>
                                <tbody hx-trigger=" passportListChanged from:body" hx-get="{% url 'passport_list' %}" hx-target="this" id="passportList">
                                    {% include 'passport/passport_list.html' %}
                                </tbody>
                            </table>
                            {% if passports.has_other_pages %}
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination rounded success justify-content-center">
                                                {% if passports.has_previous %}
                                                <li class="page-item ">
                                                    <a class="page-link" href="?page={{ passports.previous_page_number }}">
                                                        <i class="icon-chevron-right"></i>
                                                    </a>
                                                </li>
                                                {% else %}
                                                <li class="page-item disabled">
                                                    <a class="page-link" href="#">
                                                        <i class="icon-chevron-right"></i>
                                                    </a>
                                                </li>
                                                {% endif %}
                                                {% for i in passports.paginator.page_range %}
                                                {% if passports.number == i %}
                                                <li class="page-item active">
                                                    <a class="page-link" href="#">{{ i }}</a>
                                                </li>
                                                {% else %}
                                                <li class="page-item">
                                                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                                </li>
                                                {% endif %}
                                                {% endfor %}
                                                {% if passports.has_next %}
                                                <li class="page-item">
                                                    <a class="page-link" href="?page={{ passports.next_page_number }}">
                                                        <i class="icon-chevron-left"></i>
                                                    </a>
                                                </li>
                                                {% else %}
                                                <li class="page-item disabled">
                                                    <a class="page-link" href="#">
                                                        <i class="icon-chevron-left"></i>
                                                    </a>
                                                </li>
                                                {% endif %}
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<!-- Steps wizard JS -->
<script src="{% static 'vendor/wizard/jquery.steps.min.js' %}"></script>
<script src="{% static 'vendor/wizard/jquery.steps.custom.js' %}"></script>
{% endblock javascripts %}