{% load static %}
{% load crispy_forms_tags %}
<div {% if not passport %} x-data="{ open: false ,


    updateImageDisplay() {
                         while($refs.preview.firstChild) {
                          $refs.preview.removeChild($refs.preview.firstChild);
                           }
                        const curFiles = $refs.input.files;
                        if(curFiles.length === 0) {
                          const para = document.createElement('p');
                          para.textContent = 'No files currently selected for upload';
                          $refs.preview.appendChild(para);
                        } else {

                          for(const file of curFiles) {
                            const listItem = document.createElement('span');

                            listItem.classList.add('badge');
                            listItem.classList.add('badge-light');
                            listItem.classList.add('col-md-1');
                            $refs.preview.appendChild(listItem);


                            if(validFileType(file)) {
                               const image = document.createElement('img');
                              image.src = URL.createObjectURL(file);

                              listItem.appendChild(image);
                             } else {
                               listItem.appendChild(para);
                            }

                           }
                        }
                      }





  }" {% else %} x-data="{open:true ,
    updateImageDisplay() {
                         while($refs.preview.firstChild) {
                          $refs.preview.removeChild($refs.preview.firstChild);
                           }
                          const curFiles = $refs.input.files;
                        if(curFiles.length === 0) {
                          const para = document.createElement('p');
                          para.textContent = 'No files currently selected for upload';
                          $refs.preview.appendChild(para);
                        } else {


                          for(const file of curFiles) {
                            const listItem = document.createElement('span');
                             $refs.preview.appendChild(listItem);
                            const para = document.createElement('p');

                            if(validFileType(file)) {
                              para.textContent = `File name ${file.name}, file size ${returnFileSize(file.size)}.`;
                              const image = document.createElement('img');
                              image.src = URL.createObjectURL(file);

                              listItem.appendChild(image);
                              listItem.appendChild(para);
                            } else {
                              para.textContent = `File name ${file.name}: Not a valid file type. Update your selection.`;
                              listItem.appendChild(para);
                            }

                           }
                        }
                      }

}" {% endif %} class="container" id="passportform">
    <div class="container ">
        <div class="row gutters">
            <div class="form-group col-md-2 my-2 ">
                <button x-show="!open" class="btn btn-outline-primary btn-icon-text  mx-3" @click="open = ! open">
                    <span>سجل جديد</span>
                </button>
                <button class="btn btn-outline-primary btn-icon-text  mx-3" x-show="open" hx-get="{% url 'add_passport' %}" hx-target='#passportform'>
                    <span>اخفاء</span>
                </button>
            </div>
        </div>
    </div>
    <form hx-encoding="multipart/form-data" id="form" {% if not passport %} hx-post="{% url 'add_passport' %}" {% else %} hx-post="{% url 'edit_passport' pk=passport.pk %}" {% endif %} hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' class="modal-content" hx-target='#passportList' x-transition>
        <div class="modal-body container " x-show.transition.duration.2000ms="open">
            <div id="example-form">
                <h3> passenger Info</h3>
                <section>
                    <div class="row gutters">
                        <div class="form-group col-md-4 mb-0">
                            {{ form.first_name|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ form.last_name|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ form.father_name|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ form.mother_name|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ form.nationality|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ form.gender|as_crispy_field }}
                        </div>
                    </div>
                </section>
                <h3> passenger Date</h3>
                <section>
                    <div class="row gutters">
                        <div class="form-group col-md-4 mb-0">
                            {{ form.birth_date|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ form.birth_place|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ form.national_number|as_crispy_field }}
                        </div>
                    </div>
                </section>
                <h3> passenger contact</h3>
                <section>
                    <div class="row gutters">
                        <div class="form-group col-md-4 mb-0">
                            {{ form.phone|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ form.mobile|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ form.email|as_crispy_field }}
                        </div>
                    </div>
                </section>
                <h3> Passport Info</h3>
                <section>
                    <div class="row gutters">
                        <div class="form-group col-md-3 mb-0">
                            {{ form.passport_number|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-3 mb-0">
                            {{ form.issue_date|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-3 mb-0">
                            {{ form.issue_end|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-3 mb-0">
                            {{ form.issue_place|as_crispy_field }}
                        </div>
                    </div>
                </section>
                <h3> Passport image</h3>
                <section>
                    <div class="row gutters">
                        <div class="form-group col-md-2 " style="padding-top: 1.3rem;">
                            <input type="file" multiple name="images" x-ref="input" x-on:change.debounce="updateImageDisplay($event)" class="form-control" accept="image/*" id="id_logo">
                        </div>
                        <div x-ref="preview" class="form-group col-md-10 row gutters " style=" justify-content:space-between;flex-direction: row;">
                            {% if passport.photo.image %}
                            <img class="half-circle col" src="{{ passport.photo.image.url }}">
                            {% else %}
                            <img class="half-circle  " src="{% static 'img/default.jpg' %}" style="width: 60px;">
                            {% endif %}
                        </div>
                    </div>
                </section>
            </div>
            <div class="row gutters">

                        <div class="custom-btn-group">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <!-- <button type="reset" class="btn btn-primary" >Reset</button> -->
                            <input type="reset" class="btn btn-primary" value="Reset">
                        </div>

            </div>
    </form>
</div>