{% load static %}
{% load crispy_forms_tags %}
<div hx-trigger=" passportListChanged from:body"
     hx-target="this"

     id="passportform"
     {% if not passport %}
        x-data="{ open:false ,src:'{% static 'img/default.jpg' %}'}"
     {% else %}
        x-data="{open:true , src:'{{ passport.avatar.url }}'}"
     {% endif %} class="container">
    <div class="row gutters">
        <div class="form-group col-md-2 my-2 ">
            <button x-show="!open" class="btn btn-outline-primary btn-icon-text  mx-3" @click="open = ! open">
                <span>سجل جديد</span>
            </button>
            <button class="btn btn-outline-primary btn-icon-text  mx-3"
            x-show="open"
            hx-get="{% url 'add_passport' %}"
            hx-target='#passportform'
            >
                <span>اخفاء</span>
            </button>
        </div>
    </div>
    <form
           hx-encoding="multipart/form-data"
           id="form"
           {% if not passport %}
               hx-post="{% url 'add_passport' %}"
           {% else %}
              hx-post="{% url 'edit_passport' pk=passport.pk %}"
           {% endif %}
           hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'
           class="modal-content"
           hx-target='#passportList'
           x-transition>
        <div class="modal-body container " x-show="open" x-transition:enter.duration.1000ms x-transition:leave.duration.1000ms>
            <div id="example-form">
                <h3> passenger Info</h3>
                <section>
                    <div class="row gutters">
                        <div class="form-group col-md-4 mb-0">
                            {{ form.first_name|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ form.last_name|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ form.father_name|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ form.mother_name|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ form.nationality|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ form.gender|as_crispy_field }}
                        </div>
                    </div>
                </section>
                <h3> passenger Date</h3>
                <section>
                    <div class="row gutters">
                        <div class="form-group col-md-4 mb-0">
                            {{ form.birth_date|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ form.birth_place|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ form.national_number|as_crispy_field }}
                        </div>
                    </div>
                </section>
                <h3> passenger contact</h3>
                <section>
                    <div class="row gutters">
                        <div class="form-group col-md-4 mb-0">
                            {{ form.phone|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ form.mobile|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ form.email|as_crispy_field }}
                        </div>
                    </div>
                </section>
                <h3> Passport Info</h3>
                <section>
                    <div class="row gutters">
                        <div class="form-group col-md-3 mb-0">
                            {{ form.passport_number|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-3 mb-0">
                            {{ form.issue_date|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-3 mb-0">
                            {{ form.issue_end|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-3 mb-0">
                            {{ form.issue_place|as_crispy_field }}
                        </div>
                    </div>
                </section>
                <h3> Passport image</h3>
                <section>
                    <div class="row gutters">
                        <div class="form-group col-md-3 mb-0">
                            <!-- Card start -->
                            <div class="card">
                                <div class="card-body">
                                    <div class="media center">
                                        <div class="media-body">
                                            <h5 class="mt-0 media-heading">
                                                <label for="id_avatar"><span>Change Me</span><img class="half-circle" style="width: 100px;" :src="src">
                                                    <input type="file" name="avatar" class="hidden" style="display: none;" accept="image/*" id="id_avatar" @change="src = URL.createObjectURL($event.target.files[0])">
                                                </label>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Card end -->
                        </div>
                        <div class="form-group col-md-9 mb-0">
                          <div class=" row gutters">
                            <div class="form-group col-md-3 mb-0">
                               <div class="card">
                                <div class="card-body">
                                  <div class="media-body ">
                                  <h5 class="mt-0 media-heading">Extra Images</h5>
                                    <table>
                                        {{ photoform.as_table }}
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </div>

                        {% if passport %}

                         {% include 'passport/photoGallery.html'   %}

                     {% endif %}
                      </div>
                    </div>
                    </div>
                </section>
            </div>
            <div class="row gutters">
                <div class="custom-btn-group">
                    <button type="submit" class="btn btn-primary" @click="open = ! open">Save</button>
                    <!-- <button type="reset" class="btn btn-primary" >Reset</button> -->
                    {% if passport %}
                  <button type="button" class="btn btn-danger"
                  hx-confirm="Are you sure you wish to delete {{ passport }}?" hx-post="{% url 'remove_passport' pk=passport.pk %}"
                  @click="open = ! open"
                  >Remove</button>
                        {% else %}
                        <input type="reset" class="btn btn-primary" value="Reset">
                        {% endif %}
                </div>
            </div>
        </div>
    </form>
</div>