<div id="example-form">
    <h3> passenger Info</h3>
    <section>
        <div class="row gutters">
            <div class="form-group col-md-4 mb-0">
                <div id="div_id_first_name" class="form-group">
                    <label for="id_first_name" class=" requiredField">
                        First name<span class="asteriskField">*</span>
                    </label>
                    <div>
                        <input type="text" name="first_name" maxlength="300" class="textinput textInput form-control" required id="id_first_name">
                    </div>
                </div>
            </div>
            <div class="form-group col-md-4 mb-0">
                <div id="div_id_last_name" class="form-group">
                    <label for="id_last_name" class=" requiredField">
                        Last name<span class="asteriskField">*</span>
                    </label>
                    <div>
                        <input type="text" name="last_name" maxlength="300" class="textinput textInput form-control" required id="id_last_name">
                    </div>
                </div>
            </div>
            <div class="form-group col-md-4 mb-0">
                <div id="div_id_father_name" class="form-group">
                    <label for="id_father_name" class="">
                        Father name
                    </label>
                    <div>
                        <input type="text" name="father_name" maxlength="300" class="textinput textInput form-control" id="id_father_name">
                    </div>
                </div>
            </div>
            <div class="form-group col-md-4 mb-0">
                <div id="div_id_mother_name" class="form-group">
                    <label for="id_mother_name" class="">
                        Mother name
                    </label>
                    <div>
                        <input type="text" name="mother_name" maxlength="255" class="textinput textInput form-control" id="id_mother_name">
                    </div>
                </div>
            </div>
            <div class="form-group col-md-4 mb-0">
                <div id="div_id_nationality" class="form-group">
                    <label for="id_nationality" class="">
                        Nationality
                    </label>
                    <div>
                        <input type="text" name="nationality" maxlength="255" class="textinput textInput form-control" id="id_nationality">
                    </div>
                </div>
            </div>
            <div class="form-group col-md-4 mb-0">
                <div id="div_id_gender" class="form-group">
                    <label for="id_gender" class=" requiredField">
                        Gender<span class="asteriskField">*</span>
                    </label>
                    <div>
                        <select name="gender" class="select form-control" id="id_gender">
                            <option value="1">Male</option>
                            <option value="2">Femal</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <h3> passenger Date</h3>
    <section>
        <div class="row gutters">
            <div class="form-group col-md-4 mb-0">
                <div id="div_id_birth_date" class="form-group">
                    <label for="id_birth_date" class="">
                        Birth date
                    </label>
                    <div>
                        <input type="date" name="birth_date" class="dateinput form-control" id="id_birth_date">
                    </div>
                </div>
            </div>
            <div class="form-group col-md-4 mb-0">
                <div id="div_id_birth_place" class="form-group">
                    <label for="id_birth_place" class="">
                        Birth place
                    </label>
                    <div>
                        <input type="text" name="birth_place" maxlength="255" class="textinput textInput form-control" id="id_birth_place">
                    </div>
                </div>
            </div>
            <div class="form-group col-md-4 mb-0">
                <div id="div_id_national_number" class="form-group">
                    <label for="id_national_number" class="">
                        National number
                    </label>
                    <div>
                        <input type="text" name="national_number" maxlength="255" class="textinput textInput form-control" id="id_national_number">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <h3> passenger contact</h3>
    <section>
        <div class="row gutters">
            <div class="form-group col-md-4 mb-0">
                <div id="div_id_phone" class="form-group">
                    <label for="id_phone" class="">
                        Phone
                    </label>
                    <div>
                        <input type="text" name="phone" maxlength="50" class="textinput textInput form-control" id="id_phone">
                    </div>
                </div>
            </div>
            <div class="form-group col-md-4 mb-0">
                <div id="div_id_mobile" class="form-group">
                    <label for="id_mobile" class="">
                        Mobile
                    </label>
                    <div>
                        <input type="text" name="mobile" maxlength="50" class="textinput textInput form-control" id="id_mobile">
                    </div>
                </div>
            </div>
            <div class="form-group col-md-4 mb-0">
                <div id="div_id_email" class="form-group">
                    <label for="id_email" class="">
                        Email
                    </label>
                    <div>
                        <input type="email" name="email" maxlength="254" class="emailinput form-control" id="id_email">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <h3> Passport Info</h3>
    <section>
        <div class="row gutters">
            <div class="form-group col-md-3 mb-0">
                <div id="div_id_passport_number" class="form-group">
                    <label for="id_passport_number" class=" requiredField">
                        Passport number<span class="asteriskField">*</span>
                    </label>
                    <div>
                        <input type="text" name="passport_number" maxlength="255" class="textinput textInput form-control" required id="id_passport_number">
                    </div>
                </div>
            </div>
            <div class="form-group col-md-3 mb-0">
                <div id="div_id_issue_date" class="form-group">
                    <label for="id_issue_date" class=" requiredField">
                        Issue date<span class="asteriskField">*</span>
                    </label>
                    <div>
                        <input type="date" name="issue_date" class="dateinput form-control" required id="id_issue_date">
                    </div>
                </div>
            </div>
            <div class="form-group col-md-3 mb-0">
                <div id="div_id_issue_end" class="form-group">
                    <label for="id_issue_end" class=" requiredField">
                        Issue end<span class="asteriskField">*</span>
                    </label>
                    <div>
                        <input type="date" name="issue_end" class="dateinput form-control" required id="id_issue_end">
                    </div>
                </div>
            </div>
            <div class="form-group col-md-3 mb-0">
                <div id="div_id_issue_place" class="form-group">
                    <label for="id_issue_place" class=" requiredField">
                        Issue place<span class="asteriskField">*</span>
                    </label>
                    <div>
                        <input type="text" name="issue_place" maxlength="255" class="textinput textInput form-control" required id="id_issue_place">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <h3> Passport image</h3>
    <section>
        <div class="row gutters">
            <div class="form-group col-md-2 " style="padding-top: 1.3rem;">
                <input type="file" multiple name="image" x-ref="input" x-on:change.debounce="updateImageDisplay($event)" class="form-control" accept="image/*" id="id_logo">
            </div>
            <div x-ref="preview" class="form-group col-md-10 row gutters " style=" justify-content:space-between;flex-direction: row;">
                <img class="half-circle col " src="/static/img/default.jpg">
            </div>
        </div>
    </section>
    <h3> Save</h3>
    <section>
        <div class="row gutters">
            <div class="col-xl-6 col-lg-6 col-md-3 col-sm-3 col-3">
                <div class="custom-btn-group" style=" justify-content:space-between;">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <!-- <button type="reset" class="btn btn-primary" >Reset</button> -->
                    <input type="reset" class="btn btn-primary" value="Reset">
                </div>
            </div>
        </div>
    </section>
</div>
</div>
</div>