{% extends 'base.html' %}

{% block content %}


<!--  <button
    id="add-company-button"
    class="btn btn-info btn-rounded btn-fw"
    _="on click remove .d-none from #add-company-form then add .d-none to me">
    New Company
  </button>

  {% include 'company_form.html' %}
 -->
    <div class="container px-3 " height="100%">
      <div class="px-5 my-5 text-center">
        <h1>Companys list .</h1>
        <p>Companys list .</p>
      </div>

      {% if user.is_superuser or user.is_staff %}
      <button hx-get="{% url 'add_company' %}" hx-target="#dialog" class="btn btn-primary btn-rounded btn-fw my-3">
        Add a company
      </button>
      {% endif %}
      <table class="table">
        <thead>
          <tr>
            <th>name</th>
            <th>logo</th>
            <th>address</th>
            <th>phoneNumber1</th>
            <th>phoneNumber2</th>
        <!--     <th>phoneNumber3</th>
            <th>phoneNumber4</th> -->
            <th>tradeRecord</th>
            <th>email</th>
            <th>webSite</th>

            <th></th>
          </tr>
        </thead>
        <tbody
              hx-trigger="load, companyListChanged from:body"
              hx-get="{% url 'company_list' %}"
              hx-target="this">
          <tr>
            <td class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </td>
          </tr>
        </tbody>
      </table>

    </div>


{% endblock %}