{% load crispy_forms_tags %}
<div class="container">
    <form
         hx-post="{{ request.path }}"
         hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'
         class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Edit Employee</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>


  <div class="modal-body container">
    <div class="mb-3 row">
      <div class="form-group col-md-6 mb-0">
        {{  accountForm.name|as_crispy_field }}
          </div>
<!--     <div class="form-group col-md-6 mb-0">
       {{  accountForm.account_type|as_crispy_field  }}
    </div> -->
    <div class="form-group col-md-6 mb-0">
       {{  form.start_date|as_crispy_field  }}
    </div>
    </div>

    <div class="mb-3 row">
      <div class="form-group col-md-6 mb-0">
       {{  form.salary|as_crispy_field  }}
      </div>
      <div class="form-group col-md-6 mb-0">
       {{  form.salary_coin|as_crispy_field  }}
      </div>
   </div>
    <div class="mb-3 row">
     <div class="form-group col-md-4 mb-0">
         {{  form.category|as_crispy_field }}
     </div>
     <div class="form-group col-md-2 mb-0">
         <i hx-get="{% url 'add_employee_Type' %}" hx-target="#dialog" class="nav-icon fas fa-cogs">

      </i>
     </div>

     <div class="form-group col-md-6 mb-0">
        {{  form.phone|as_crispy_field  }}
     </div>
    </div>




   <div class="mb-3 row">
      <div class="form-group col-md-12 mb-0">
       {{  form.memo|as_crispy_field  }}
      </div>

          </div>


  </div>
  <!-- {% crispy accountForm %}
  {% crispy form %} -->
  <div class="modal-footer">
    {% if employee %}
    <button type="button" class="btn btn-danger" hx-confirm="Are you sure you wish to delete {{ employee.account.name }}?" hx-post="{% url 'remove_employee' pk=employee.pk %}">Remove</button>
    <span class="flex-grow-1"></span>
    {% endif %}
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
      Cancel
    </button>
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
</form></div>

