{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="ar" dir="rtl" >
  <!-- <html lang="ar" > -->
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Meta -->
      <meta name="description" content="Responsive Bootstrap4 Dashboard Template">
      <meta name="author" content="ParkerThemes">
      <link rel="shortcut icon" href="{% static 'admin/img/fav.png' %}" />

      <!-- Title -->

      <title>{% trans "Wafi." %}  |{{ user.company }} | {% block title %}{% endblock %}</title>

      <!-- *************
        ************ Common Css Files *************
      ************ -->
     <!-- Bootstrap css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Icomoon Font Icons css -->
    <link rel="stylesheet" href="{% static 'fonts/style.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">



      <!-- *************
        ************ Vendor Css Files *************
      ************ -->
     <!-- DateRange css -->
    <link rel="stylesheet" href="{% static 'vendor/daterange/daterange.css' %}" />

      <!-- Chartist css -->
      <!-- <link rel="stylesheet" href="{% static 'vendor/chartist/css/chartist.min.css' %}" />
      <link rel="stylesheet" href="{% static 'vendor/chartist/css/chartist-custom.css' %}" /> -->


      <!-- iyad script important  -->
      <script src="{% static 'htmx.min.js' %}"></script>
      <script src="{% static 'alpine.min.js' %}" defer></script>
      <script src="{% static '_hyperscript.min.js' %}" defer></script>
     <!-- end iyad script  -->


      {% block stylesheets %}{% endblock stylesheets %}
    </head>
<body>

  {% include 'userheader.html' %}

  <!-- Screen overlay start -->
    <div class="screen-overlay"></div>
    <!-- Screen overlay end -->
        {% include 'Quicklinks.html' %}


        {% include 'settings.html' %}

  {% include 'userpanel.html' %}
<!-- ************************* Main container start ************************** -->
			<div class="main-container">
				<!-- Page header start -->
        <div class="page-header">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" >{{navbar}} </li>

            <li class="breadcrumb-item active" >{{submenu}} </li>

          </ol>
          <ul class="app-actions">
            <li>
              <a href="#" id="reportrange">
                <span class="range-text"></span>
                <i class="icon-chevron-down"></i>
              </a>
            </li>
            <li>
              <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Print">
                <i class="icon-print"></i>
              </a>
            </li>
            <li>
              <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Download CSV">
                <i class="icon-cloud_download"></i>
              </a>
            </li>
          </ul>
        </div>
				<!-- Page header end -->

				<!-- Content wrapper start -->
				<div class="content-wrapper">
            {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
           {% endfor %}
           {% endif %}


          <div class="row gutters">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
              <div class="toast info" aria-live="assertive" aria-atomic="true"  id="toast">
                <div class="toast-header" style="justify-content: space-between;">
                  <i class="icon-layers"></i>
                  <!-- <span class="title">Default Toast</span> -->
                  <!-- <small>1 mins ago</small> -->
                  <button type="button" class="close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="toast-body" id="toastbody">
                  Hello, world! This is a toast message.
                </div>
              </div>
            </div>

          </div>



          <!-- Row starts -->
          <div class="row gutters">
                        {% block content %}   {% endblock %}
          </div>
          <!-- Row end -->



        </div>
        <!-- Content wrapper end -->

      </div>

			<!-- *************
				************ Main container end *************
			************* -->

			<!-- Footer start -->
			<footer class="main-footer">© Wafi 2020</footer>
			<!-- Footer end -->

	    	</div>


<!-- Empty modal  -->

      <div id="modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div id="dialog" class="modal-dialog modal-lg" hx-target="this">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="myLargeModalLabel">Modal Title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save</button>
            </div>
          </div>
        </div>
      </div>


<!-- modal end -->
  <!-- *************
			************ Required JavaScript Files *************
		************* -->
		<!-- Required jQuery first, then Bootstrap Bundle JS -->
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
		<script src="{% static 'js/moment.js' %}"></script>


		<!-- *************
			************ Vendor Js Files *************
		************* -->
		<!-- Slimscroll JS -->
		<script src="{% static 'vendor/slimscroll/slimscroll.min.js' %}"></script>
		<script src="{% static 'vendor/slimscroll/custom-scrollbar.js' %}"></script>



		<!-- Main Js Required -->
		<script src="{% static 'js/main.js' %}"></script>

       {% block javascripts %}
       {% endblock javascripts %}

      <script type="text/javascript">
            (function () {
        const modal = new bootstrap.Modal(document.getElementById("modal"))

        htmx.on("htmx:afterSwap", (e) => {
          // Response targeting #dialog => show the modal
          if (e.detail.target.id == "dialog") {
            modal.show()
          }
        })

        htmx.on("htmx:beforeSwap", (e) => {
          // Empty response targeting #dialog => hide the modal
          if (e.detail.target.id == "dialog" && !e.detail.xhr.response) {
            modal.hide()
            e.detail.shouldSwap = false
          }
        })

        // Remove dialog content after hiding
        htmx.on("hidden.bs.modal", () => {
          document.getElementById("dialog").innerHTML = ""
        })
      })();


      </script>

<script>
      // $('.toast').toast('show')
  const toastBody = document.getElementById("toastbody");
  // const toast = new bootstrap.Toast(toastElement, { delay: 2000 })

  htmx.on("showMessage", (e) => {
    toastBody.innerText = e.detail.value
    $('.toast').toast({ delay: 5000 });
    $('.toast').toast('show');
     });

    </script>
  </body>

</html>
