        <!-- Quicklinks box start -->
        <div class="quick-links-box">
            <div class="quick-links-header">
                Quick Links
                <a href="#" class="quick-links-box-close">
                    <i class="icon-circle-with-cross"></i>
                </a>
            </div>

            <div class="quick-links-wrapper">
                <div class="fullHeight">
                    <div class="quick-links-body">
                        <div class="container-fluid p-0">
                            <div class="row less-gutters">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <a href="documents.html" class="quick-tile blue">
                                        <i class="icon-file-text"></i>
                                        Documents
                                    </a>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                                    <a href="crm-dashboard.html" class="quick-tile secondary">
                                        <i class="icon-pie-chart1"></i>
                                        CRM
                                    </a>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                                    <a href="ecommerce-dashboard.html" class="quick-tile blue">
                                        <i class="icon-shopping-cart1"></i>
                                        Ecommerce
                                    </a>
                                </div>
                            </div>
                            <div class="row less-gutters">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <a href="gallery2.html" class="quick-tile photos lg">
                                        Photos
                                    </a>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                                    <a href="tasks.html" class="quick-tile">
                                        <i class="icon-check-circle"></i>
                                        Tasks
                                    </a>
                                    <a href="calendar-external-draggable.html" class="quick-tile blue">
                                        <i class="icon-calendar1"></i>
                                        Events
                                    </a>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                                    <a href="chat.html" class="quick-tile blue">
                                        <i class="icon-message-circle"></i>
                                        Chat
                                    </a>
                                    <a href="default-layout.html" class="quick-tile">
                                        <i class="icon-grid"></i>
                                        Layout
                                    </a>
                                </div>
                            </div>
                            <div class="row less-gutters">
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                                    <a href="custom-alerts.html" class="quick-tile secondary">
                                        <i class="icon-alert-triangle"></i>
                                        Alerts
                                    </a>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                                    <a href="google-maps.html" class="quick-tile blue">
                                        <i class="icon-map-pin"></i>
                                        Maps
                                    </a>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                                    <a href="https://www.gmail.com" target="_blank" class="quick-tile white">
                                        <i class="icon-drafts"></i>
                                        Gmail
                                    </a>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                                    <a href="https://www.youtube.com" target="_blank" class="quick-tile secondary">
                                        <i class="icon-youtube"></i>
                                        Youtube
                                    </a>
                                </div>
                            </div>
                            <div class="row less-gutters">
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                                    <a href="user-profile.html" class="quick-tile">
                                        <i class="icon-account_circle"></i>
                                        Profile
                                    </a>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                                    <a href="contacts.html" class="quick-tile">
                                        <i class="icon-phone"></i>
                                        Contacts
                                    </a>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                                    <a href="account-settings.html" class="quick-tile">
                                        <i class="icon-settings1"></i>
                                        Settings
                                    </a>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                                    <a href="login.html" class="quick-tile">
                                        <i class="icon-lock2"></i>
                                        Logout
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Quicklinks box end -->