
        <!-- Quick settings start -->
        <div class="quick-settings-box">
            <div class="quick-settings-header">
                <div class="date-container">Today <span class="date" id="today-date"></span></div>
                <a href="#" class="quick-settings-box-close">
                    <i class="icon-circle-with-cross"></i>
                </a>
            </div>
            <div class="quick-settings-body">
                <div class="fullHeight">
                    <div class="quick-setting-list">
                        <h6 class="title">Events</h6>
                        <ul class="list-items">
                            <li>
                                <div class="list-title">Product Launch</div>
                                <div class="list-location">10:00 AM</div>
                            </li>
                            <li>
                                <div class="list-title">Team Meeting</div>
                                <div class="list-location">01:30 PM</div>
                            </li>
                            <li>
                                <div class="list-title">Q&A Session</div>
                                <div class="list-location">02:30 PM</div>
                            </li>
                        </ul>
                    </div>
                    <div class="quick-setting-list">
                        <h6 class="title">Notes</h6>
                        <ul class="list-items">
                            <li>
                                <div class="list-title">Refreshing the list</div>
                                <div class="list-location">03:15 PM</div>
                            </li>
                            <li>
                                <div class="list-title">Not able to click on button</div>
                                <div class="list-location">03:18 PM</div>
                            </li>
                        </ul>
                    </div>
                    <div class="quick-setting-list">
                        <h6 class="title">Quick Settings</h6>
                        <ul class="set-priority-list">
                            <li>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" checked id="systemUpdates">
                                    <label class="custom-control-label" for="systemUpdates">System Updates</label>
                                </div>
                            </li>
                            <li>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="noti">
                                    <label class="custom-control-label" for="noti">Notifications</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Quick settings end -->