{% for reservation in reservations %}
<tr id="reservation-{{ reservation.pk }}" class="reservation-row "  >

        <td>{{ reservation.title|truncatechars:10 }}</td>

         <td>
            {% for passport in reservation.passport.all %}{{ passport }}<br/>{% endfor %}
         </td>
        <td>{{ reservation.Date|date:"Y-m-d" }}</td>
        <td>{{ reservation.supplier|truncatechars:10 }}</td>
        <td>{{ reservation.customer|truncatechars:10 }}</td>
        <td>{{ reservation.pay_price }}</td>
        <td>{{ reservation.pay_coin }}</td>
        <td>{{ reservation.sell_price }}</td>
        <td>{{ reservation.sell_coin }}</td>
        <td>{{ reservation.status }}</td>
        <td>{{ reservation.PNR|truncatechars:10 }}</td>
        <td>{{ reservation.departure_date|date:"Y-m-d" }}</td>
        <td>{{ reservation.airline_company|truncatechars:10 }}</td>
        <td>{{ reservation.flight_no|truncatechars:10 }}</td>
        <td>{{ reservation.departure|truncatechars:10 }}</td>
        <td>{{ reservation.arrival|truncatechars:10 }}</td>
        <td>{{ reservation.roundtrip }}</td>

        <td>{{ reservation.flight_type }}</td>
        <td>{{ reservation.return_date|date:"Y-m-d" }}</td>

  <td>
    <button class="btn btn-primary btn-sm" hx-get="{% url 'edit_airline' pk=reservation.pk %}" hx-target="#dialog">Edit</button>
  </td>
</tr>
{% empty %}
            <tr><td  colspan="7" > No reservation </td></tr>
{%  endfor %}